/client
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.todo
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
/public/css/app.css
/public/js/app.js

/public/uploads/
/storage/app/public/uploads/*
/storage/pail/*

!/storage/app/public/uploads/components/
!/storage/app/public/uploads/fake-images/

