@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*
    |--------------------------------------------------------------------------
    | Helpers
    |--------------------------------------------------------------------------
    */
    .myFocus {
        @apply focus-within:border-2 focus-within:border-myPrimaryBrandColor;
    }

    .myActiveLinkColor {
        @apply text-myPrimaryBrandColor;
    }

    .myAvatarSection {
        @apply border-2 border-red-300 pt-6 pr-2 pb-8 pl-2 my-12 rounded bg-red-50;
    }

    /*
    |--------------------------------------------------------------------------
    | primaryParagraphs
    |--------------------------------------------------------------------------
    */
    .myPrimaryParagraph {
        @apply text-sm font-normal text-myPrimaryGrayColor;
    }
    /*
    |--------------------------------------------------------------------------
    | Headers
    |--------------------------------------------------------------------------
    */
    .myPrimayHeader {
        @apply text-3xl mt-1 mb-2 font-semibold text-black;
    }

    .mySecondaryHeader {
        @apply text-2xl mt-1 mb-2 font-semibold text-black;
    }

    .myTertiaryHeader {
        @apply text-lg mt-1 mb-2 font-semibold text-black;
    }

    /*
    |--------------------------------------------------------------------------
    | Links
    |--------------------------------------------------------------------------
    */
    .myPrimaryLink {
        @apply text-myPrimaryBrandColor text-sm
        focus:outline-none
        focus:ring-0 focus:ring-myPrimaryBrandColor
        focus-visible:ring-0 focus-visible:ring-myPrimaryBrandColor;
    }

    .myPrimaryActiveLink {
        @apply text-red-600 text-sm
        focus:outline-none
        focus:ring-0 focus:ring-red-500
        focus-visible:ring-0 focus-visible:ring-red-500;
    }

    /*
    |--------------------------------------------------------------------------
    | Buttons
    |--------------------------------------------------------------------------
    */
    .myRadio {
        @apply w-5 h-5 text-myPrimaryBrandColor bg-gray-100 border-gray-300 focus:ring-myPrimaryBrandColor dark:focus:ring-myPrimaryBrandColor dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }

    .myPrimaryButton {
        @apply break-keep font-semibold inline-flex items-center justify-center rounded-3xl border border-transparent bg-myPrimaryBrandColor px-5 py-2  sm:text-sm text-sm text-white shadow-sm hover:bg-myPrimaryBrandColor sm:w-auto
        focus:outline-none focus:ring-2 focus:ring-myPrimaryBrandColor focus:ring-offset-2
        focus-visible:ring-2 focus-visible:ring-myPrimaryBrandColor;
    }

    .mySecondaryButton {
        @apply myPrimaryButton bg-gray-700 hover:bg-gray-800 focus:ring-gray-700;
    }

    .myPrimaryDeleteButton {
        @apply myPrimaryButton bg-myErrorColor hover:bg-myErrorColor focus:ring-myErrorColor;
    }

    .myPrimaryToggleButton {
        @apply w-full inline-flex items-center justify-center px-4 py-2 sm:text-sm text-sm font-bold text-myPrimaryGrayColor shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryBrandColor focus:ring-offset-2 bg-gray-100 hover:bg-myPrimaryBrandColor hover:text-white;
    }
    /*
    |--------------------------------------------------------------------------
    | Buttons With no background
    |--------------------------------------------------------------------------
    */

    .myPrimaryButtonNoBackground {
        @apply myPrimaryParagraph font-semibold  text-myPrimaryBrandColor 
        focus:outline-none cursor-pointer;
    }

    .mySecondaryButtonNoBackground {
        @apply font-semibold  text-myPrimaryBrandColor;
    }

    .myPrimaryDeleteButtonNoBackground {
        @apply myPrimaryButtonNoBackground text-myErrorColor;
    }

    /*
    |--------------------------------------------------------------------------
    | Icons
    |--------------------------------------------------------------------------
    */
    .mySmallIcon {
        @apply cursor-pointer flex-shrink-0 mr-1.5 h-7 w-7 text-myPrimaryGrayColor transform duration-200 stroke-2;
    }

    /*
    |--------------------------------------------------------------------------
    | Grid
    |--------------------------------------------------------------------------
    */
    .myPrimaryGap {
        @apply gap-4;
    }

    /*
    |--------------------------------------------------------------------------
    | Forms
    |--------------------------------------------------------------------------
    */
    .myPrimaryForm {
        @apply md:flex md:flex-row flex flex-col myPrimaryGap;
    }
    .myPrimaryFormMain {
        @apply md:w-8/12 flex flex-col myPrimaryGap;
    }
    .myPrimaryFormSidebar {
        @apply md:w-4/12 flex flex-col myPrimaryGap;
    }

    .myPrimaryFormAction {
        @apply px-4 py-4;
    }

    .myInputsOrganization {
        @apply px-4 py-4 border border-myPrimaryLightGrayColor rounded bg-gray-50;
    }

    .myInputsOrganizationText {
        @apply mt-12 mb-4;
    }

    .myInputsFamily {
        @apply flex items-center myPrimaryGap;
    }
    .myInputGroup {
        @apply w-full self-start mb-2;
    }
    .myDoActionButtonSection {
        @apply px-4 py-4 border border-myPrimaryLightGrayColor rounded sm:px-6 text-right mt-1 bg-gray-50;
    }

    .myPrimaryInputLabel {
        @apply mt-4 mb-2 block text-sm font-medium text-myPrimaryGrayColor text-left;
    }

    .myPrimaryInput {
        @apply block w-full sm:text-sm font-medium text-black placeholder:font-normal placeholder:accent-gray-400  focus:bg-white rounded-md py-3 px-3 border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryBrandColor focus:border-transparent;
    }

    .myPrimaryInputError {
        @apply mt-1 italic block text-sm font-medium text-myErrorColor text-left;
    }

    .myPrimaryHiddenInputField {
        @apply px-0;
    }

    .myPrimaryTextArea {
        @apply block w-full sm:text-sm font-medium text-black placeholder:font-normal placeholder:accent-gray-400 bg-gray-50 focus:bg-white rounded-md py-3 px-3 border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryBrandColor focus:border-transparent;
    }

    .myPrimaryCheckbox {
        @apply focus:ring-myPrimaryBrandColor h-5 w-5 text-myPrimaryBrandColor border-gray-400 rounded-md;
    }

    .myPrimarySelect {
        @apply bg-gray-50 focus:bg-white font-normal text-myPrimaryGrayColor placeholder:accent-gray-400 block w-full border border-gray-300 rounded-md shadow-sm py-3 px-3 focus:outline-none focus:ring-myPrimaryBrandColor focus:border-myPrimaryBrandColor focus:outline-4 focus:outline-myPrimaryBrandColor sm:text-sm;
    }

    #my-select {
        @apply py-1.5 px-2 text-myPrimaryGrayColor bg-gray-50 rounded-md
        border border-gray-300 focus-within:border focus-within:border-transparent
        sm:text-sm font-normal
        focus-within:bg-white focus:focus-within:rounded-md
        focus-within:ring-2 focus-within:ring-myPrimaryBrandColor focus-within:ring-offset-[1px];
    }
}

/* CSS styles for VueQuill - start */
.ql-toolbar.ql-snow {
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}

.ql-editor {
    min-height: 200px;
}
/* CSS styles for VueQuill - end */
