@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*
    |--------------------------------------------------------------------------
    | Helpers
    |--------------------------------------------------------------------------
    */
    .myFocus {
        @apply focus-within:border-2 focus-within:border-myPrimaryColor-500;
    }

    .myActiveLinkColor {
        @apply text-myPrimaryColor-600;
    }

    /*
    |--------------------------------------------------------------------------
    | primaryParagraphs
    |--------------------------------------------------------------------------
    */
    .myPrimaryParagraph {
        @apply text-sm text-gray-800;
    }
    /*
    |--------------------------------------------------------------------------
    | Headers
    |--------------------------------------------------------------------------
    */
    .myPrimayHeader {
        @apply text-3xl mt-1 mb-2 font-semibold text-black;
    }

    .mySecondaryHeader {
        @apply text-2xl mt-1 mb-2 font-semibold text-black;
    }

    .myTertiaryHeader {
        @apply text-lg mt-1 mb-2 font-semibold text-black;
    }

    /*
    |--------------------------------------------------------------------------
    | Links
    |--------------------------------------------------------------------------
    */
    .myPrimaryLink {
        @apply text-myPrimaryColor-600 text-sm
        focus:outline-none
        focus:ring-0 focus:ring-myPrimaryColor-500
        focus-visible:ring-0 focus-visible:ring-myPrimaryColor-500;
    }

    .myPrimaryActiveLink {
        @apply text-red-600 text-sm
        focus:outline-none
        focus:ring-0 focus:ring-red-500
        focus-visible:ring-0 focus-visible:ring-red-500;
    }

    /*
    |--------------------------------------------------------------------------
    | Buttons
    |--------------------------------------------------------------------------
    */
    .myRadio {
        @apply w-5 h-5 text-myPrimaryColor-600 bg-gray-100 border-gray-300 focus:ring-myPrimaryColor-500 dark:focus:ring-myPrimaryColor-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }

    .myPrimaryButton {
        @apply font-semibold inline-flex items-center justify-center rounded-3xl border border-transparent bg-myPrimaryColor-500 px-5 py-2  sm:text-sm text-sm text-white shadow-sm hover:bg-myPrimaryColor-600 sm:w-auto
        focus:outline-none focus:ring-2 focus:ring-myPrimaryColor-500 focus:ring-offset-2
        focus-visible:ring-2 focus-visible:ring-myPrimaryColor-500;
    }

    .mySecondaryButton {
        @apply myPrimaryButton bg-gray-700 hover:bg-gray-800 focus:ring-gray-700;
    }

    .myPrimaryDeleteButton {
        @apply myPrimaryButton bg-myErrorColor-500 hover:bg-myErrorColor-600 focus:ring-myErrorColor-500;
    }

    .myPrimaryToggleButton {
        @apply w-full inline-flex items-center justify-center px-4 py-2 sm:text-sm text-sm font-bold text-gray-800 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryColor-500 focus:ring-offset-2 bg-gray-100 hover:bg-myPrimaryColor-500 hover:text-white;
    }
    /*
    |--------------------------------------------------------------------------
    | Buttons With no background
    |--------------------------------------------------------------------------
    */

    .myPrimaryButtonNoBackground {
        @apply myPrimaryParagraph font-semibold  text-myPrimaryColor-600 
        focus:outline-none cursor-pointer;
    }

    .mySecondaryButtonNoBackground {
        @apply font-semibold  text-myPrimaryColor-600;
    }

    .myPrimaryDeleteButtonNoBackground {
        @apply myPrimaryButtonNoBackground text-myErrorColor-600;
    }

    /*
    |--------------------------------------------------------------------------
    | Icons
    |--------------------------------------------------------------------------
    */
    .mySmallIcon {
        @apply cursor-pointer flex-shrink-0 mr-1.5 h-7 w-7 text-gray-800 transform duration-200 stroke-2;
    }

    /*
    |--------------------------------------------------------------------------
    | Grid
    |--------------------------------------------------------------------------
    */
    .myPrimaryGap {
        @apply gap-4;
    }

    /*
    |--------------------------------------------------------------------------
    | Forms
    |--------------------------------------------------------------------------
    */
    .myPrimaryForm {
        /*@apply border-2 border-amber-700 p-12 rounded-lg*/
    }

    .myInputsFamily {
        @apply flex items-center myPrimaryGap;
    }
    .myInputGroup {
        @apply w-full self-start mb-2;
    }

    .myPrimaryInputLabel {
        @apply mt-4 mb-2 block text-sm font-medium text-gray-700 text-left;
    }

    .myPrimaryInput {
        @apply block w-full sm:text-sm font-medium text-black placeholder:font-normal placeholder:accent-gray-400 bg-gray-50 focus:bg-white rounded-md py-3 px-3 border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryColor-500 focus:border-transparent;
    }

    .myPrimaryInputError {
        @apply mt-1 italic block text-sm font-medium text-myErrorColor-500 text-left;
    }

    .myPrimaryHiddenInputField {
        @apply px-0;
    }

    .myPrimaryTextArea {
        @apply block w-full sm:text-sm font-medium text-black placeholder:font-normal placeholder:accent-gray-400 bg-gray-50 focus:bg-white rounded-md py-3 px-3 border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryColor-500 focus:border-transparent;
    }

    .myPrimaryCheckbox {
        @apply focus:ring-myPrimaryColor-500 h-5 w-5 text-myPrimaryColor-500 border-gray-400 rounded-md;
    }

    .myPrimarySelect {
        @apply bg-gray-50 focus:bg-white font-normal text-gray-800 placeholder:accent-gray-400 block w-full border border-gray-300 rounded-md shadow-sm py-3 px-3 focus:outline-none focus:ring-myPrimaryColor-500 focus:border-myPrimaryColor-500 focus:outline-4 focus:outline-myPrimaryColor-50 sm:text-sm;
    }

    #my-select {
        @apply py-1.5 px-2 text-gray-800 bg-gray-50 rounded-md
        border border-gray-300 focus-within:border focus-within:border-transparent
        sm:text-sm font-normal
        focus-within:bg-white focus:focus-within:rounded-md
        focus-within:ring-2 focus-within:ring-myPrimaryColor-500 focus-within:ring-offset-[1px];
    }
}
